# Python cache
__pycache__/
*.pyc

# Jupyter
**/.ipynb_checkpoints/

# Virtual env
.venv/
venv/

# OS junk
.DS_Store
Thumbs.db

# DATA (skip all big files)
data/*
!data/.gitkeep

# OUTPUTS (اختیاری: فقط HTMLهای سنگین را نگه دار)
outputs/*
!outputs/.gitkeep
