# Core
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.8.4
seaborn==0.13.2
folium==0.17.0

# Jupyter
jupyterlab==4.2.1
notebook==7.2.0
ipykernel==6.29.5

# ML
scikit-learn==1.4.2
xgboost==2.0.3